$primary-color: #e94e57;
$primary-color-dark: #A81219;
$secondary-color: #31928b;
$secondary-color-dark: #0B6962;
$tertiary-color: #534833;
$tertiary-color-dark: #3A2B0F;
$card-bg: #ffffff;
$card-padding: 30px;
$card-padding-small: 20px;
$card-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
                    0  6px 30px 5px rgba(0, 0, 0, 0.12),
                    0  8px 10px -5px rgba(0, 0, 0, 0.4);

$font-color: #2e271a;
$font-family: 'Roboto', sans-serif;
$font-size-default: 16px;
$font-size-small: 14px;

$border-radius: 4px;

body {
	background: $primary-color;
	color: $font-color;
	font-size: $font-size-default;
	font-family: $font-family;
}

.navbar {
	background: $primary-color;	
	border: none;
	padding: 20px;
  	margin: 0;

	.navbar-brand {
		color: #fff;
		font-size: 20px;
	}

	.navbar-brand:focus, .navbar-brand:hover {
		color: #fff;
	}

	.navbar-nav>li>a {
		color: #fff;
		font-size: 18px;
	}

	.navbar-nav>li>a:focus, .navbar-nav>li>a:hover {
		color: $primary-color-dark;
	    outline: none;
	}

	.navbar-toggle .icon-bar {
		background-color: #fff;
	}

	.navbar-toggle:focus, .navbar-toggle:hover {
		background-color: $primary-color-dark;
		border: none;
	}	
}

.card {
	background: $card-bg;
	box-shadow: $card-shadow;
	padding: $card-padding;
	font-size: $font-size-small;
	margin-bottom: 2em;
}

.row {
	margin-top: 1em;
}

button {
	outline: none !important;
}

.btn-default:hover{
	background: none;
}

.dropdown {
	width: 100%;
	
	.btn {
		border: 1px solid $secondary-color;
		width: 100%;
		color: $secondary-color;
		text-align: left;

		.caret {
			float: right;
    		line-height: 1em;
    		margin-top: 0.5em;
		}
	}

	.dropdown-menu {
		width: 100%;
	}
}

.dropdown.open .btn:focus{
	background: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $secondary-color !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $secondary-color !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $secondary-color !important;
}
:-moz-placeholder { /* Firefox 18- */
  color: $secondary-color !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input.form-control:focus {
    outline:none !important;
    box-shadow: none;
    //border: 1px solid $secondary-color;
}

input.form-control {
	background: #fff;
	border:none;
    border-bottom: 1px solid $secondary-color;
    border-radius: 0;
    color: $secondary-color-dark;   
    box-shadow: none;
}

input.form-control[readonly] {
	background: $secondary-color;
	color: #fff;
	border-radius: $border-radius;
}

@mixin transform($prop) {
	-webkit-transform: $prop;
	-ms-transform: $prop;
	-o-transform: $prop;
  	transform: $prop;
}

@mixin transition($prop) {
	-webkit-transition: $prop;
	-ms-transition: $prop;
	-o-transition: $prop;
  	transition: $prop;
}

.inputline {
	display: block;
    background: $secondary-color;
    height: 2px;
    width: 100%;
    top: -2px;
    position: relative;
    @include transform(scale(0,1));
    @include transition(all 0.2s linear);
}

input.form-control:focus+.inputline {
  @include transform(scale(1));
}

input.form-control.ng-invalid + .inputline {
	background: $primary-color;
}

hr {
	border-top: 1px solid $secondary-color;
}

.edit-lqd {
	width: 100%;
    border: none;
    background: none;
    text-decoration: underline;
    color: $secondary-color;
    margin-top: 5px;
    text-align: left;
}

.edit-lqd-btn {
	background: $secondary-color;
    color: #fff;
    border-color: $secondary-color;
}

.edit-lqd-btn:hover, .edit-lqd-btn:focus {
	color: #fff;
	background: $secondary-color-dark;
}

input[readonly] + .input-group-btn {
	display: none;
}

.input-group .form-control[readonly] {
	border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.btn-simple {
	background: none;
	color: $secondary-color;
	font-size: $font-size-default;
	cursor: pointer;
	border: 0;
}.btn-right {
		float: right;
		text-align: right;
	}

.btn-simple:hover {
	color: $secondary-color-dark;
	text-shadow: 1px 2px 5px $secondary-color;
}

.recipe {

	hr {
		border-top: 1px dashed $tertiary-color;
	}

	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: $tertiary-color !important;
	}
	::-moz-placeholder { /* Firefox 19+ */
	  color: $tertiary-color !important;
	}
	:-ms-input-placeholder { /* IE 10+ */
	  color: $tertiary-color !important;
	}
	:-moz-placeholder { /* Firefox 18- */
	  color: $tertiary-color !important;
	}
	
	input[readonly] + .input-group-btn {
		display: table-cell;
	}

	.input-group {

		border: 1px dashed $tertiary-color;
		border-radius: $border-radius;

		input.form-control {
			border: none;
			box-shadow: none;
			font-size: $font-size-default;
			color: $tertiary-color;
		}

		input.form-control:focus {
			color: $tertiary-color-dark;
		}

		.input-group-addon {
			background: none;
		    border: none;
		    font-size: $font-size-default;
		    font-weight: bold;
		    width: 25%;
		    text-align: right;
		}

		.inputline {
			top: 33px;
    		z-index: 9;
    		background-color: $tertiary-color;
		}

		.input-group-btn {
			.btn{
			   box-shadow: none;
			   border: none;
		   }
		   .btn:hover {
			    color: #fff;
			    border: 1px solid $tertiary-color;
			    background-color: $tertiary-color;
			}
			.btn:focus {
				outline: none;
				background-color: $tertiary-color-dark;
				color: #fff;
			}
			.delete {
				color: $primary-color;
			}
			.delete:hover {
			    border-color: $primary-color;
			    background-color: $primary-color;
			}
			.delete:focus {
				background-color: $primary-color-dark;
			}
		}

	}

	.readonly {
		border: none;

		input.form-control[readonly] {
			border: none;
			background: none;
			color: $tertiary-color;
		}
	}

	.title {		
		border: none;

		#recipeName {
			border-bottom: 1px solid $tertiary-color;
		}

		#recipeName[readonly] {
			font-size: 24px;
			background: none;
			border: none;
			text-transform: uppercase;
		}

		#save-recipe-btn {
			display: none;
		}
	}

	.editable {
		margin-top: 1em;
	}

	.btn-simple {
		color: $tertiary-color;
	}

	.btn-simple:hover {
		color: $tertiary-color-dark;
		text-shadow: 1px 2px 5px $tertiary-color;
	}

}

@media (max-width: 970px) {
	.card {
		padding: $card-padding-small;
	}
}

@media (max-width: 380px) {
	.navbar {
		.navbar-brand {
			font-size: $font-size-default;
		}

		.navbar-nav > li > a {
			font-size: $font-size-small;
		}

	}

	.btn-simple {
		font-size: $font-size-small;
	}

	.recipe {
		.title {
			#recipeName[readonly] {
				font-size: 20px;
			}
		}

		.input-group input.form-control {
			font-size: $font-size-small;
		}

		.input-group .input-group-addon {
			font-size: $font-size-small;
		}
	}
}

@media print {
	#calculator, .tooltip, #recipe-btns, .editable, .recipe input[readonly] + .input-group-btn {
		display: none;
	}

	.recipe .title {
		//text-align: center;
	}

	
}