<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Baking Conversion App</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    

  </head>

  <body ng-app="baking-app" ng-controller="controller">

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><i class="fa fa-calculator"></i> Baking Conversion App</a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" data-toggle="modal" data-target="#aboutModal"><i class="fa fa-info-circle"></i> About</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Modal -->
    <div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">About</h4>
          </div>
          <div class="modal-body">
            <p>This app serves as a tool for bakers to convert their ingredient measurements quickly and easily. It is inspired by <strong>Gemma Stafford's Weight Conversion Chart for Baking Ingredients.</strong> Check out the <a target="_blank" href="https://www.biggerbolderbaking.com/weight-conversion-chart/">original chart here</a>.</p>
            <p>The ingredient list on this app is only limited to what is available on her chart. This app also does not convert any amount that is less than what's stated on the chart. If the amount to be converted is not an exact one-to-one match, a range of weight will be given instead.</p> 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-sm-6" id="calculator">
          <div class="card">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="ingredients" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{ ingredient }}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="ingredients" id="ingredientList">
                <li><a href="#" ng-repeat="x in ingredientList" ng-click="setIngredient(x)">{{x}}</a></li>
              </ul>
            </div><!--end dropdown -->
            
            <div class="row">
              <div class="col-sm-2 col-xs-2">
                <h5>From: </h5>
              </div>
              <div class="col-sm-5 col-xs-5" data-toggle="tooltip" data-placement="top" title="Eg: 20, 1/2, 2 + 1/4" >                
                  <input type="text" class="form-control" placeholder="Enter amount" ng-model="amount" id="amount" ng-keyup="validateAmount()">
                  <span class="inputline"></span>
              </div>
              <div class="col-sm-5 col-xs-5">
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="from-units" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    {{frmUnit}}
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="from-units">
                    <li ng-if="ingredient != 'Liquid'" ng-repeat="u in units"><a href="#" ng-click="setFromUnit(u.unit)">{{u.label}}</a></li>
                    <li ng-if="ingredient == 'Liquid'" ng-repeat="u in liquidUnits"><a href="#" ng-click="setFromUnit(u.unit)">{{u.label}}</a></li>
                  </ul>
                </div><!--end dropdown -->
              </div>
            </div><!--end row2 -->

            <div class="row">
              <div class="col-sm-2 col-xs-2">
                <h5>To: </h5>
              </div>
              <div class="col-sm-10 col-xs-10">
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="to-units" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    {{toUnit}}
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="to-units">
                    <li ng-if="ingredient != 'Liquid' && frmUnit!=u.unit" ng-repeat="u in units"><a href="#" ng-click="setToUnit(u.unit)">{{u.label}}</a></li>
                    <li ng-if="ingredient == 'Liquid' && frmUnit!=u.unit" ng-repeat="u in liquidUnits"><a href="#" ng-click="setToUnit(u.unit)">{{u.label}}</a></li>
                  </ul>
                </div><!--end dropdown -->
              </div>
            </div><!--end row3 -->

            <div>
              <button id="calc-btn" ng-click="calculate()" ng-disabled="!validateInputs()">Calculate</button>
              <div ng-if="showOps" class="alert" role="alert">
                <button type="button" class="close" aria-label="Close"><span aria-hidden="true" ng-click="dismissAlert()">&times;</span></button>
                <strong>Oops!</strong> The amount to be converted is too small
              </div>
            </div>

            <hr ng-if="showResult">
            <div class="row" ng-if="showResult">                           
              <div class="col-sm-7 col-xs-7">
                <div class="input-group">
                  <input id="ingredient" type="text" class="form-control" readonly="readonly" value="{{ingredient}}" placeholder="Eg: Milk">
                  <span class="input-group-btn">
                    <button class="btn edit-lqd-btn" type="button" ng-click="saveLiquid()">OK</button>
                  </span>                  
                </div>
                <button ng-if="alias == 'Liquid'" class="edit-lqd" ng-click="editLiquid()">Change liquid's name</button>
              </div>
              <div class="col-sm-5 col-xs-5">
                <div class="result" type="text" ng-bind-html="result"></div>
              </div> 
            </div><!--end row 4-->
            <hr ng-if="showResult">
            <div class="row" ng-if="showResult">
              <div class="col-sm-6 col-xs-6">
                <button ng-click="resetForm()" class="btn-simple btn-left" ><i class="fa fa-refresh"></i> Reset</button>
              </div>
              <div class="col-sm-6 col-xs-6">
                <button ng-click="addRecipe()" class="btn-simple btn-right" ><i class="fa fa-plus"></i> Add to recipe</button>
              </div>
            </div><!--end row -->
          </div>
        </div>

         <div class="col-sm-6">
          <div class="card recipe">
            <!-- <p class="title">MY RECIPE</p> -->
             <div class="input-group title">
              <input readonly type="text" class="form-control" placeholder="Edit your recipe name" ng-model="rName" id="recipeName">
              <span class="inputline"></span>
              <span class="input-group-btn">
                <button id="edit-recipe-btn" ng-click="editRecipeName()" class="btn btn-default" type="button" data-toggle="tooltip" data-placement="bottom" title="Change your recipe name"><i class="fa fa-pencil"></i></button>
                <button id="save-recipe-btn" ng-click="saveRecipeName()" class="btn btn-default" type="button"><i class="fa fa-save"></i></button>
              </span>
            </div><!-- /input-group -->
            <hr>

            <div class="input-group readonly" ng-repeat="i in recipeList">
              <span class="input-group-addon" ng-bind-html="i.weight"></span>
              <input type="text" class="form-control" value="{{i.ingredient}}" readonly>       
              <span class="input-group-btn">
                <button ng-click="removeRecipe(i.idx)" class="btn btn-default delete" type="button"><i class="fa fa-close"></i></button>
              </span>
            </div><!-- READONLY input-group -->

             <div class="input-group editable" data-toggle="tooltip" data-placement="top" title="Separate amount, unit and ingredient with comma(,) Example: 120, g, Eggs">
              <input ng-model="custom" type="text" class="form-control" placeholder="Add your own ingredients">
              <span class="inputline"></span>
              <span class="input-group-btn">
                <button ng-click="addCustomRecipe()" class="btn btn-default" type="button"><i class="fa fa-plus"></i></button>
              </span>
            </div><!-- /input-group -->

            <hr>
            <div class="row" id="recipe-btns">
              <div class="col-sm-12 col-xs-12">
                <button class="btn-simple btn-right" onclick="window.print()"><i class="fa fa-print"></i> Print</button>
              </div>              
            </div><!--end row -->
          </div>
        </div>
      </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/d33f9523b7.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-sanitize.js"></script>
    <script type="text/javascript" src="js/chart.js"></script>
    <script type="text/javascript" src="js/util.js"></script>

    <script type="text/javascript">
      $('[data-toggle="tooltip"]').tooltip();
    </script>

  </body>
</html>